# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_STENOMI_LEFT

config ZMK_KEYBOARD_NAME
	default "StenoMi"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_STENOMI_LEFT || SHIELD_STENOMI_RIGHT

config ZMK_SPLIT
	default y

endif
