/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>



&mt {
  //  flavor = "tap-preferred";
   // tapping_term_ms = <200>;
};

/ { 
        keymap {
                compatible = "zmk,keymap";
                
       		default_layer {
		bindings = <
		&kp PLV_X1 &kp PLV_S1 &kp PLV_TL &kp PLV_PL &kp PLV_HL &kp PLV_ST1 		&kp PLV_ST3 &kp PLV_FR &kp PLV_PR &kp PLV_LR &kp PLV_TR &kp PLV_DR
		&kp PLV_X2 &kp PLV_S2 &kp PLV_KL &kp PLV_WL &kp PLV_RL &kp PLV_ST2 		&kp PLV_ST4 &kp PLV_RR &kp PLV_BR &kp PLV_GR &kp PLV_SR &kp PLV_ZR
          								 &kp PLV_NA &kp PLV_A   &kp PLV_O  		&kp PLV_E  &kp PLV_U  &kp PLV_NB

		>;
		};
        
	};
};
